.card{
  padding: 0;
  border-radius: 8px;
  background-color: white;
  margin-top: 20px;
}
h3{
  background-color: #3F50B530;
  padding: 5px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  margin-bottom: 5px;
}