<div class="container p-4 email-template">
	<div class="pb-4 card">
		<h3><b>HRHQ sending Notices Reminders</b></h3>
		<div class="pad">
			<div class="email-header" [innerHTML]="subject"></div>
			<div class="email-body" [innerHTML]="body"></div>
		</div>
	</div>
	<div class="pb-4 card">
		<h3><b>Confirmation Email</b></h3>
		<div class="pad">
			<div class="email-header" [innerHTML]="subject1"></div>
			<div class="email-body" [innerHTML]="body1"></div>
		</div>
		
	</div>
	<div class="pb-4 card">
		<h3><b>Daily Reminders</b></h3>
		<div class="pad">
			<div class="email-header" [innerHTML]="subject2"></div>
			<div class="email-body" [innerHTML]="body2"></div>
		</div>
	</div>
</div>