<div class="dashboard">
  <div class="dashboard-container">
    <div class="main-content">
      <div class="flex-r aic jcsb">
        <h2>Welcome Back, Bikrant</h2>
        <mat-form-field>
          <mat-label>Choose department</mat-label>
          <mat-select formControlName="department">
            <mat-option (click)="selectDepartment({name: ''})">All Departments</mat-option>
            <mat-option *ngFor="let department of filteredDepartments" [value]="department.name" (click)="selectDepartment(department)">
              {{ department.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="summary-cards">
        <mat-card (click)="showTotalCases()" class="total-card">
          <div class="card-title">
            Total Cases
          </div>
          <div class="card-content">
            <div class="card-count">
              {{ totalCases }}
            </div>
            <img src="assets/monitoring.png" alt="Graph" class="graph-placeholder">
          </div>
        </mat-card>
        <mat-card (click)="showOpenCases()" class="open-card">
          <div class="card-title">
            Open Cases
          </div>
          <div class="card-content">
            <div class="card-count">
              {{ openCases }}
            </div>
            <img src="assets/monitoring.png" alt="Graph" class="graph-placeholder">
          </div>
        </mat-card>
        <mat-card (click)="showClosedCases()" class="closed-card">
          <div class="card-title">
            Closed Cases
          </div>
          <div class="card-content">
            <div class="card-count">
              {{ closedCases }}
            </div>
            <img src="assets/monitoring.png" alt="Graph" class="graph-placeholder">
          </div>
        </mat-card>
      </div>
      <div class="case-details">
        <mat-table [dataSource]="filteredData">
          <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <mat-header-cell *matHeaderCellDef>{{ columnHeaders[col] }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element[col] }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row (click)="navigateToCaseDetail(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
