<div class="dashboard">
  
  <div class="dashboard-container">
    <div class="sidebar">
      <mat-form-field appearance="fill">
        <mat-label>Search Departments</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" placeholder="Search"  (input)="filterDepartments()" >
      </mat-form-field>
      <mat-nav-list>
        <mat-list-item [class.selected-department]="!selectedDepartment" (click)="selectDepartment(null)">
          <span mat-line>All Departments</span>
        </mat-list-item>
        <mat-list-item *ngFor="let department of filteredDepartments" [class.selected-department]="department.name === selectedDepartment" (click)="selectDepartment(department)">
          <span mat-line>{{ department.name }}</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="main-content">
      <h2>Welcome Back, Bikrant</h2>
      <div class="summary-cards">
        <mat-card (click)="showTotalCases()" class="total-card">
          <div class="card-title">
            Total Cases
          </div>
          <div class="card-count">  
            {{ totalCases }}
          </div>
        </mat-card>
        <mat-card (click)="showOpenCases()" class="open-card">
          <div class="card-title">
            Open Cases
          </div>
          <div class="card-count">  
            {{ openCases }}
          </div>
        </mat-card>
        <mat-card (click)="showClosedCases()" class="closed-card">
          <div class="card-title">
            Closed Cases
          </div>
          <div class="card-count">  
            {{ closedCases }}
          </div>
        </mat-card>
      </div>
      <div class="case-details">
        <table mat-table [dataSource]="filteredCases">
          <!-- Define columns -->
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
            <td mat-cell *matCellDef="let caseItem"> {{ caseItem[column] }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
